# Este es un archivo de ejemplo para las variables de entorno del proyecto
# Copia este archivo y renómbralo como ".env" para configurar las variables de entorno de tu proyecto

DB_NAME=nombre_de_la_base_de_datos
DB_USER=usuario_de_la_base_de_datos
DB_PASSWORD=contraseña_de_la_base_de_datos
DB_HOST=host_de_la_base_de_datos
DB_PORT=puerto_de_la_base_de_datos

